google-genai
sounddevice
soundfile
faster-whisper
numpy
pyttsx3
keyboard
plyer
requests
icalendar
recurring-ical-events
tzdata
python-dotenv
chromadb
python-docx
pypdf
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
